<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
  </startup>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=localhost;user id=root;password=mlnm99;database=cma" />
  </connectionStrings>
  <appSettings>
    <add key="ambiente" value="Desarrollo" />
    <add key="runtime" value="" />
    <add key="lapso" value="1" />
    <add key="AutoStart" value="S" />
    <add key="AutoRun" value="N" />
    <add key="ssl" value="N" />
    <add key="host" value="mail.tuteur.com.ar" />
    <add key="puerto" value="25" />
    <add key="sender" value="cobol@tuteur.com.ar" />
    <add key="password" value="NhXv7hGb4t" />
    <add key="destinatario" value="jms.mesa@gmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>